nav{
    background-color:black;
    color: white;
    text-align: center;
    padding: 5px;

}
h1,li{
    display: inline;
}
li:hover{
    color: blue;
    cursor: pointer;
}

.one{
    background-color:black;
    color:grey;
    text-align: center;
}
.content{
    display: flex;
    justify-content:space-around;
    padding: 50px;
}
.two{
    border-radius: 10px;
    margin: 10px;
    border-color: black;
    border-style: solid;
    padding: 2%;
    text-align: center;
}
.para{
    text-align:justify;
}


h3:hover{
    color: grey;
    cursor: pointer;
}


button{
    background-color: black;
    color: white;
    text-align: center;    
}
button:hover{
    color: grey;
    cursor: pointer;
}

.prebook{
    background-color: black;
    color: white;
}
.last{
    background-color: yellow;
    color: black;  
}
.last:hover{
    color: grey;
    cursor: pointer;

}